body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.button {
  z-index: 102;
  position: relative;
}

.home { 
    display: grid;
    position: relative;
    width: 100%;
    height: 2400px;
    background: #FFFFFF;
    overflow-x: hidden;
}

.header {
    /* position: absolute; */
    width: 100%;
    /* height: 500px; */
    /* left: 0px;
    top: 90px; */
    background: #D8FFFF;
}

.car {
    /* position: absolute; */
    /* top: 604px; */
    height: 400px;
    width: 100%;
    /* left: 0px; */
    background: #ffffff;
}

.car-title{
    position: relative;
    width: 10%;
    height: 88px;
    left: 116px;
    top: 25%;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #74D4D4;
}

.image {
    position: relative;
    max-width: 50%;
    max-height: 70%;
    left: 50%;
    top: 0%;
}

.map {
    /* position: absolute; */
    width: 100%;
    height: 750px;
    left: 0px;
    top: 1004px;
    background: #E6FAFF;
}

.results {
    /* position: absolute; */
    top: 1754px;
    height: 750px;
    width: 100%;
    background: #ffffff;
}