.button {
    z-index: 102;
}

.home { 
    display: grid;
    position: relative;
    width: 100%;
    height: 2884px;
    background: #FFFFFF;
}

.header{
    position: absolute;
    width: 100%;
    height: 514px;
    left: 0px;
    top: 90px;
    background: #D8FFFF;
}

.car{
    position: absolute;
    top: 604px;
    height: 543px;
    width: 100%;
    left: 0px;
    background: #ffffff;
}

.car-title{
    position: absolute;
    width: 10%;
    height: 88px;
    left: 116px;
    top: 550px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;

    color: #74D4D4;
}

.map{
    position: absolute;
    width: 100%;
    height: 988px;
    left: 0px;
    top: 1143px;
    background: #E6FAFF;
}

.result{
    position: absolute;
    top: 2131px;
    height: 753px;
    width: 100%;
    left: 0px;
    background: #ffffff;
}