/* .map-container div:first-child{
 position: relative !important;
} */


.mymapcontainer {
    margin-top: 400px;
    display: flex;
    position: static;
    width: 100%;
    height: 30%
}

#map {
    width: 100%;
    left: 30%;
    height: 50%;
    margin: auto;
}