/* .map-container div:first-child{
 position: relative !important;
} */


.mymapcontainer {
    display: flex;
    height: 50vh;
    width: 100%;
}

#map {
    width: 100%;
    /* left: 10%; */
    height: 100%;
    margin: auto;
}